* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Entfernt das vertikale Padding */
    position: fixed; /* Fixiert den Header an der Oberseite der Seite */
    top: 0; /* Positioniert den Header ganz oben */
    left: 0;
    width: 100%;
    background-color: transparent; /* Macht den Header-Hintergrund transparent */
    height: 60px; /* Setzt die Höhe des Headers */
}

.logo img {
    width: 150px; /* Setzt eine größere Breite für das Logo */
    height: auto; /* Behält das Seitenverhältnis bei */
    margin-top: 5px; /* Optional: Fügt oben einen kleinen Abstand hinzu, falls notwendig */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    background-color: #000; /* Fügt jedem Listenelement einen schwarzen Hintergrund hinzu */
    padding: 8px 12px; /* Fügt Padding für eine bessere visuelle Erscheinung hinzu */
    border-radius: 5px; /* Optionale: Abgerundete Ecken */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f00;
}

.content {
    padding: 50px 20px;
    margin-top: 80px; /* Fügt einen oberen Rand hinzu, um Platz für den fixierten Header zu schaffen */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.grid-item {
    text-align: center;
    overflow: hidden;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* initial shadow */
}

.grid-item a {
    display: block; /* Macht das <a>-Tag zu einem Block-Element, das das Grid-Item füllt */
}

.grid-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Fügt sanfte Übergänge hinzu */
}

.grid-item:hover img {
    transform: scale(1.05); /* Vergrößert das Bild leicht beim Hover */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Erhöht den Schatten beim Hover */
    cursor: pointer; 
}

footer {
    text-align: center;
    padding: 20px;
}

.full-screen-container {
    position: relative; /* Ermöglicht die Positionierung des Hintergrundbildes */
    min-height: 100vh; /* Stellt sicher, dass der Container die gesamte Viewport-Höhe abdeckt */
}

.full-screen-container::before {
    content: ''; 
    background: url('045f03747b0f7bf52c6a0d4b8064a634.png') no-repeat center center/cover;
    opacity: 0.5; /* Passt die Opazität nach Bedarf an */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Platziert den Hintergrund hinter anderem Inhalt */
}
